body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:620px;
  height:232px;
}
#u20946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 179, 139, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:620px;
  height:30px;
}
#u20949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20950 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:20px;
  height:20px;
}
#u20951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20952 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:9px;
  width:12px;
  height:12px;
}
#u20953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u20954 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:10px;
  width:13px;
  height:9px;
}
#u20955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u20956 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:13px;
  width:12px;
  height:2px;
}
#u20957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20958 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:9px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u20959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20960 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:52px;
  width:101px;
  height:40px;
}
#u20961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u20962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 179, 139, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20962 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:152px;
  width:285px;
  height:36px;
  color:#FFFFFF;
}
#u20963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u20964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 179, 139, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00B38B;
}
#u20964 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:99px;
  width:60px;
  height:30px;
  font-size:12px;
  color:#00B38B;
}
#u20965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u20966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20966 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:52px;
  width:249px;
  height:40px;
  text-align:left;
}
#u20967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:245px;
  word-wrap:break-word;
}
#u20968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 225, 225, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20968 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:94px;
  width:285px;
  height:40px;
}
#u20969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 179, 139, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00B38B;
}
#u20970 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:99px;
  width:71px;
  height:30px;
  font-size:12px;
  color:#00B38B;
}
#u20971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
