body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:620px;
  height:232px;
}
#u20919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 179, 139, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:620px;
  height:30px;
}
#u20922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20923 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:20px;
  height:20px;
}
#u20924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20925 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:9px;
  width:12px;
  height:12px;
}
#u20926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u20927 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:10px;
  width:13px;
  height:9px;
}
#u20928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u20929 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:13px;
  width:12px;
  height:2px;
}
#u20930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20931 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:9px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u20932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20933 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:52px;
  width:101px;
  height:40px;
}
#u20934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u20935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 179, 139, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20935 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:152px;
  width:285px;
  height:36px;
  color:#FFFFFF;
}
#u20936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u20937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 179, 139, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00B38B;
}
#u20937 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:99px;
  width:60px;
  height:30px;
  font-size:12px;
  color:#00B38B;
}
#u20938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u20939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20939 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:52px;
  width:249px;
  height:40px;
  text-align:left;
}
#u20940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:245px;
  word-wrap:break-word;
}
#u20941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 225, 225, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20941 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:94px;
  width:285px;
  height:40px;
}
#u20942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 179, 139, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00B38B;
}
#u20943 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:99px;
  width:71px;
  height:30px;
  font-size:12px;
  color:#00B38B;
}
#u20944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
