body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:620px;
  height:232px;
}
#u21193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 179, 139, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:620px;
  height:30px;
}
#u21196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21197 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:20px;
  height:20px;
}
#u21198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u21199 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:9px;
  width:12px;
  height:12px;
}
#u21200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u21201 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:10px;
  width:13px;
  height:9px;
}
#u21202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u21203 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:13px;
  width:12px;
  height:2px;
}
#u21204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u21205 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:9px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u21206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21207 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:52px;
  width:101px;
  height:40px;
}
#u21208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u21209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 179, 139, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21209 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:152px;
  width:285px;
  height:36px;
  color:#FFFFFF;
}
#u21210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u21211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 179, 139, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00B38B;
}
#u21211 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:99px;
  width:60px;
  height:30px;
  font-size:12px;
  color:#00B38B;
}
#u21212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u21213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u21213 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:52px;
  width:249px;
  height:40px;
  text-align:left;
}
#u21214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:245px;
  word-wrap:break-word;
}
#u21215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 225, 225, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21215 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:94px;
  width:285px;
  height:40px;
}
#u21216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 179, 139, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00B38B;
}
#u21217 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:99px;
  width:71px;
  height:30px;
  font-size:12px;
  color:#00B38B;
}
#u21218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
