body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 179, 139, 1);
  border:none;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:48px;
}
#u21251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u21252 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:25px;
  height:25px;
}
#u21253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u21254 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:16px;
  width:12px;
  height:12px;
}
#u21255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u21256 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:17px;
  width:13px;
  height:9px;
}
#u21257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u21258 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:20px;
  width:12px;
  height:2px;
}
#u21259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u21261 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:14px;
  width:18px;
  height:18px;
}
#u21262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:8px;
}
#u21263 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:19px;
  width:7px;
  height:8px;
}
#u21264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u21265 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:14px;
  width:1px;
  height:18px;
}
#u21266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u21267 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:16px;
  width:23px;
  height:15px;
}
#u21268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:825px;
  height:517px;
}
#u21270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21271 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:2px;
  width:138px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u21273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21274 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:9px;
  width:1px;
  height:1px;
}
#u21275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21276 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:12px;
  width:24px;
  height:24px;
}
#u21277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21278 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:16px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u21279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u21280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u21280 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:22px;
  width:10px;
  height:6px;
}
#u21281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:517px;
  background:inherit;
  background-color:rgba(245, 245, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:178px;
  height:517px;
}
#u21283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:178px;
  height:50px;
  font-size:14px;
  color:#666666;
}
#u21284_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21284.mouseOver {
  opacity:0.8;
}
#u21284_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21284.selected {
}
#u21285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u21286_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:53px;
}
#u21286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:3px;
  height:50px;
}
#u21287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:178px;
  height:50px;
  font-size:14px;
  color:#666666;
}
#u21288_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21288.mouseOver {
  opacity:0.8;
}
#u21288_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21288.selected {
}
#u21289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u21290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:178px;
  height:50px;
  font-size:14px;
  color:#666666;
}
#u21290_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21290.mouseOver {
  opacity:0.8;
}
#u21290_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21290.selected {
}
#u21291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u21292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:178px;
  height:50px;
  font-size:14px;
  color:#666666;
}
#u21292_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21292.mouseOver {
  opacity:0.8;
}
#u21292_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u21292.selected {
}
#u21293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u21294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:178px;
  height:50px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21294_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21294.mouseOver {
  opacity:0.8;
}
#u21294_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21294.selected {
}
#u21295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u21296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u21296 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:64px;
  width:21px;
  height:18px;
}
#u21297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:10px;
}
#u21299 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:120px;
  width:19px;
  height:10px;
}
#u21300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u21301 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:115px;
  width:18px;
  height:10px;
}
#u21302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
}
#u21304 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:163px;
  width:6px;
  height:18px;
}
#u21305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u21306 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:163px;
  width:10px;
  height:18px;
}
#u21307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u21308 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:163px;
  width:10px;
  height:18px;
}
#u21309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:13px;
}
#u21310 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:165px;
  width:3px;
  height:13px;
}
#u21311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21312 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:210px;
  width:20px;
  height:20px;
}
#u21313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21314 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:48px;
  width:647px;
  height:517px;
  overflow:hidden;
}
#u21314_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:517px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21314_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 179, 139, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u21315 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:20px;
  width:80px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u21316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u21317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:178px;
  height:50px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21317_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21317.mouseOver {
  opacity:0.8;
}
#u21317_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 231, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u21317.selected {
}
#u21318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
#u21319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u21319 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:317px;
  width:17px;
  height:17px;
}
#u21320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u21322 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:259px;
  width:21px;
  height:17px;
}
#u21323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u21324 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:267px;
  width:6px;
  height:11px;
}
#u21325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
